<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.icia.dao.IBoardDao">

	<select id="getBoardList" parameterType="Integer"
		resultType="board">
	<!-- <![CDATA[
      SELECT * FROM BLIST_1 WHERE RONUM >= #{pNum}*10-9 AND RONUM <= #{pNum}*10
      ]]> -->
      
	<!--/*+INDEX_DESC(B PK_B_NUM) */ : 인덱스를 타고 내림차순 검색하시오 -->
 		<![CDATA[	
 		SELECT * FROM ( SELECT /*+INDEX_DESC(B PK_B_NUMM) */ ROWNUM AS RN,B.* FROM B WHERE ROWNUM<=#{pNum}*10)
 		WHERE RN >=#{pNum}*10-9
 		]]>
	</select>


	<select id="getContents" parameterType="Integer"
		resultType="board">
	<![CDATA[
      SELECT * FROM BLIST_1 WHERE B_NUM=#{bNum}
      ]]>
	</select>

	<select id="getReplyList" parameterType="Integer"
		resultType="reply">
	<![CDATA[
      SELECT * FROM RLIST WHERE R_BNUM=#{bNum}
      ]]>
	</select>

	<insert id="replyInsert" parameterType="reply">
	INSERT INTO R VALUES(REPLY_SEQ.NEXTVAL,#{r_bnum},#{r_contents},#{r_id},default)	
	</insert>
	
	<insert id="boardWrite" parameterType="board" useGeneratedKeys="true" keyProperty="b_num">
	<selectKey keyProperty="b_num" resultType="int" order="BEFORE">
	SELECT BOARD_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO B
	 VALUES(#{b_num},#{b_title},#{b_contents},#{b_id},DEFAULT,DEFAULT)
	</insert>
	
	<insert id="fileInsert" parameterType="Map">
	INSERT INTO BF VALUES(BF_SEQ.NEXTVAL,#{bnum},#{oriFileName},#{sysFileName})
	
	</insert>



</mapper>